{% extends "mail/layout.html" %}
{% load static %}

{% block body %}
    <h2>{{ request.user.email }}</h2>

    <button class="btn btn-sm btn-outline-primary" id="inbox">Inbox</button>
    <button class="btn btn-sm btn-outline-primary" id="compose">Compose</button>
    <button class="btn btn-sm btn-outline-primary" id="sent">Sent</button>
    <button class="btn btn-sm btn-outline-primary" id="archived">Archived</button>
    <a class="btn btn-sm btn-outline-primary" href="{% url 'logout' %}">Log Out</a>
    <hr>

    <div>
    <div id="emails-view">
    </div>
    <div class="inbox_all" id="iball"></div>
    </div>

    <div id="reply_view">
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h2 class="display-5" id="sender">Sender</h2>
            <h4 class="display-5" id="subject">Subject</h4>
            <p class="display-5" id="recipients">Recipients</p>
            <p class="display-5" id="timestamp">Timestamp</p>
            <p class="lead" id="body">Body</p>
            <button id="prefill_mail" class="btn btn-primary"/>Reply mail</button>
          </div>
        </div>
    </div>

    <div id="compose-view">
        <h3 id="changeonreply">New Email</h3>
        <form id="compose-form" method="POST">
            {% csrf_token %}
            <div class="form-group">
                From: <input disabled class="form-control" value="{{ request.user.email }}">
            </div>
            <div class="form-group">
                To: <input id="compose-recipients" class="form-control">
            </div>
            <div class="form-group">
                <input class="form-control" id="compose-subject" placeholder="Subject">
            </div>
            <textarea class="form-control" id="compose-body" placeholder="Body"></textarea>
            <button id="send_mail" type="submit" class="btn btn-primary"/>Submit</button>
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{% static 'mail/inbox.js' %}"></script>
{% endblock %}